/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 2 version
*/

/* @font-face {
    font-display: swap;
    font-family: "Barlow";
    font-style: normal;
    font-weight: 400;
    src: url("./fonts/barlow-v12-latin-regular.woff2") format("woff2"),
        url("./fonts/barlow-v12-latin-regular.woff") format("woff");
}
@font-face {
    font-display: swap;
    font-family: "Barlow";
    font-style: normal;
    font-weight: 700;
    src: url("./fonts/barlow-v12-latin-700.woff2") format("woff2"),
        url("./fonts/barlow-v12-latin-700.woff") format("woff");
}
@font-face {
    font-display: swap;
    font-family: "Fraunces";
    font-style: normal;
    font-weight: 900;
    src: url("./fonts/fraunces-v31-latin-900.woff2") format("woff2"),
        url("./fonts/fraunces-v31-latin-900.woff") format("woff");
} */

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    font-family: "Barlow", "Arial", sans-serif;
    background-color: #fefcf7;
}

img {
    display: block;
    height: auto;
}

.container {
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
    padding: 0 24px;
}

.unscrollbody {
    overflow: hidden;
}

.open-menu .navbar-menu {
    display: block;
}

.open-menu .site-header__menu-btn {
    background-image: url(../images/cloase.svg);
}

.navbar-menu {
    display: none;
    position: absolute;
    top: 90px;
    left: 0;
    z-index: 5;
    width: 100vw;
    height: 100vh;
    background-image: -webkit-gradient(
        linear,
        left bottom, left top,
        from(rgba(254, 252, 247, 0.504981)),
        color-stop(55.94%, #fefcf7)
    );
    background-image: linear-gradient(
        0deg,
        rgba(254, 252, 247, 0.504981) 0%,
        #fefcf7 55.94%
    );
}

.site-header {
    position: relative;
    z-index: 1;
    padding-top: 32px;
    padding-bottom: 40px;
}

.site-header__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.logo__img {
    width: 163px;
    height: 18px;
}

.site-header__menu-btn {
    width: 16px;
    height: 15px;
    border: none;
    background-color: transparent;
    background-image: url(../images/hamburg.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.navbar-menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 32px;
    -webkit-column-gap: 33px;
       -moz-column-gap: 33px;
            column-gap: 33px;
    margin-top: 40px;
    list-style: none;
    padding-left: 0;
}

.navbar__menu__link {
    color: #333d4b;
    text-align: center;
    font-family: "Fraunces", "Times New Roman", serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
    line-height: 32px; /* 133.333% */
    letter-spacing: 0px;
    text-decoration: none;
}

.great__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 75px 24px;
    background-image: url(../images/Bitmap.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 6px;
}

.great__small {
    display: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.great__title {
    color: #fefcf7;
    text-align: center;
    font-family: "Fraunces";
    font-size: 26px;
    font-style: normal;
    font-weight: 900;
    line-height: 40px; /* 100% */
    margin-top: 0;
    margin-bottom: 24px;
}

.great__text {
    color: #fefcf7;
    text-align: center;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 166.667% */
    margin-top: 0;
    margin-bottom: 39px;
}

.great__link {
    display: inline-block;
    color: #fefcf7;
    background-color: #0e8784;
    border-radius: 6px;
    text-align: center;
    font-family: "Fraunces";
    font-size: 15px;
    font-style: normal;
    font-weight: 900;
    line-height: 25px; /* 138.889% */
    -webkit-transition: background-color 0.4s linear;
    transition: background-color 0.4s linear;
    padding: 12px 28px 13px;
    -webkit-text-decoration-line: none;
            text-decoration-line: none;
}

.great__link:hover {
    background-color: #66d2cf;
}

.collection__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 205px;
    padding-bottom: 120px;
    position: relative;
    padding-left: 0;
    list-style: none;
    background-image: url(../images/ourimg.svg);
    background-position: center 120px;
    background-size: 280px 68px;
    background-repeat: no-repeat;
}

.collection__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.collection__item:not(:last-child) {
    margin-bottom: 48px;
}

.collection__img {
    min-width: 200px;
    min-height: 151px;
}

.collection__title {
    color: #333d4b;
    text-align: center;
    font-family: "Fraunces";
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 32px; /* 133.333% */
    margin-top: 24px;
    margin-bottom: 16px;
}

.collection__text {
    color: #333d4b;
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 166.667% */
    margin-top: 0;
    margin-bottom: 0;
}

.quality__box {
    background-color: #2c343e;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.quality__small-box {
    padding-top: 64px;
    padding-right: 15px;
    padding-bottom: 28px;
    padding-left: 15px;
}

.quality__list-wrapper {
    /* width: 233px; */
    background-color: #293039;
    margin-bottom: 788px;
    padding: 36px 15px 215px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.quality__title {
    color: #fefcf7;
    text-align: center;
    font-family: "Fraunces";
    font-size: 22px;
    font-style: normal;
    font-weight: 900;
    line-height: 28px; /* 100% */
    margin-top: 0;
    margin-bottom: 24px;
}

.quality__text {
    color: #fefcf7;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 166.667% */
    opacity: 0.8;
    margin-top: 0;
    margin-bottom: 0;
}

.quality__list {
    /* width: 202px; */
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    position: relative;
}

.quality__item {
    width: 202px;
    background-color: #0e8784;
    border-radius: 8px;
    padding: 200px 12px 51px;
    position: relative;
}

.quality__item::before {
    content: "";
    width: 71px;
    height: 72px;
    background-image: url(../images/coffee.svg);
    position: absolute;
    top: 72px;
    left: 65px;
}

.quality__item--two::before {
    content: "";
    width: 72px;
    height: 72px;
    background-image: url(../images/Combined.svg);
    position: absolute;
    top: 72px;
    left: 65px;
}

.quality__item--there::before {
    content: "";
    width: 72px;
    height: 50px;
    background-image: url(../images/car.svg);
    position: absolute;
    top: 72px;
    left: 65px;
}

.quality__item--one {
    position: relative;
    left: calc(50% - 101px);
}

.quality__item--two {
    position: absolute;
    top: 430px;
    left: calc(50% - 101px);
}

.quality__item--there {
    position: absolute;
    top: 884px;
    left: calc(50% - 101px);
}

.quality__item-title {
    color: #fefcf7;
    text-align: center;
    font-family: "Fraunces";
    font-size: 22px;
    font-style: normal;
    font-weight: 900;
    line-height: 32px; /* 133.333% */
    margin-top: 0;
    margin-bottom: 24px;
}

.quality__desc {
    color: #fefcf7;
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 166.667% */
    margin-top: 0;
    margin-bottom: 0;
}

/* \-\-\-\-\-\--\-\-\-\-\-\-\-\-\-\-\-\-\-\-\-\-\-\-\-\-\-\-\-\ */

@media only screen and (min-width: 336px) {
    .great__title {
        font-size: 30px;
    }

    .great__text {
        font-size: 13px;
    }
}

@media only screen and (min-width: 372px) {
    .great__box {
        padding-top: 99px;
        padding-bottom: 99px;
    }

    .great__title {
        font-size: 40px;
    }

    .great__text {
        font-size: 15px;
    }

    .great__link {
        font-size: 18px;
        padding: 15px 31px 16px;
    }

    .collection__item {
        width: 282px;
    }

    .quality__title {
        font-size: 28px;
    }

    .quality__text {
        font-size: 15px;
    }

    .quality__small-box {
        padding-left: 24px;
        padding-right: 24px;
    }

    .quality__item {
        width: 279px;
    }

    .quality__item-title {
        font-size: 24px;
    }

    .quality__desc {
        font-size: 15px;
    }

    .quality__item--one {
        left: calc(50% - 139.5px);
    }

    .quality__item--two {
        left: calc(50% - 139.5px);
    }

    .quality__item--there {
        left: calc(50% - 139.5px);
    }

    .quality__item::before {
        left: 104px;
    }
}
@media only screen and (min-width: 461px) {
    .great__box {
        padding-top: 103px;
        padding-bottom: 103px;
    }

    .great__title {
        font-size: 45px;
    }

    .great__text {
        font-size: 18px;
    }
    .collection__list {
        background-size: 300px 72px;
    }

    .collection__title {
        font-size: 27px;
    }

    .collection__text {
        font-size: 18px;
    }

    .collection__item {
        width: 350px;
    }

    .quality__title {
        font-size: 30px;
    }

    .quality__text {
        font-size: 16px;
    }
}

@media only screen and (min-width: 505px) {
    .great__box {
        padding-top: 110px;
        padding-bottom: 110px;
    }

    .great__title {
        font-size: 48px;
    }

    .great__text {
        font-size: 20px;
    }

    .collection__title {
        font-size: 30px;
    }

    .collection__text {
        font-size: 20px;
    }

    .quality__title {
        font-size: 32px;
    }

    .quality__text {
        font-size: 20px;
    }
}

@media only screen and (min-width: 529px) {
    .great__box {
        padding-top: 110px;
        padding-bottom: 110px;
    }

    .great__small {
        width: 398px;
    }
    .great__title {
        font-size: 50px;
    }

    .great__text {
        font-size: 20px;
    }

    .collection__list {
        background-size: 400px 80px;
    }

    .quality__item {
        width: 290px;
    }

    .quality__item-title {
        font-size: 26px;
    }

    .quality__desc {
        font-size: 18px;
    }
}

@media only screen and (min-width: 546px) {
    .great__box {
        padding-top: 96px;
        padding-bottom: 96px;
        background-image: url(../images/Bitmapbc.png);
        background-size: 100% 100%;
    }

    .great__title {
        font-size: 51px;
    }

    .great__text {
        font-size: 22px;
    }
    .collection__item {
        width: 420px;
    }
}

@media only screen and (min-width: 600px) {
    .site-header__navbar {
        position: static;
        display: block;
        width: auto;
        height: auto;
        background-image: none;
    }

    .navbar-menu__list {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        margin-top: 0;
        margin-bottom: 0;
    }

    .navbar__menu__link {
        color: #83888f;
        font-size: 12px;
        font-style: normal;
        font-family: "Barlow", "Arial", sans-serif;
        font-weight: 700;
        line-height: 15px; /* 125% */
        letter-spacing: 0.923px;
        -webkit-transition: color 0.4s linear;
        transition: color 0.4s linear;
        text-transform: uppercase;
    }

    .navbar__menu__link:hover {
        color: #333d4b;
    }
    .site-header__menu-btn {
        display: none;
    }

    .navbar-menu {
        display: block;
    }

    .site-header {
        padding-top: 40px;
        padding-bottom: 53px;
    }

    .container {
        padding: 0 40px;
    }

    .great__box {
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        padding-right: 0;
        padding-left: 40px;
    }
    .great__small {
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
    }

    .great__title {
        font-size: 48px;
        text-align: left;
    }

    .great__text {
        font-size: 15px;
        text-align: left;
    }

    .quality__item-title {
        font-size: 24px;
        margin-bottom: 16px;
        text-align: left;
    }

    .quality__desc {
        font-size: 15px;
        text-align: left;
    }

    .quality__item {
        width: 490px;
        padding-top: 41px;
        padding-bottom: 41px;
        padding-left: 180px;
    }

    .quality__item--one {
        left: calc(50% - 245px);
    }

    .quality__item--two {
        top: 204px;
        left: calc(50% - 245px);
    }

    .quality__item--there {
        top: 408px;
        left: calc(50% - 245px);
    }

    .quality__list-wrapper {
        margin-bottom: 295px;
        padding-bottom: 120px;
    }

    .quality__item::before {
        top: 62px;
        left: 55px;
    }

    .collection__list {
        padding-top: 203px;
        padding-bottom: 144px;
        background-image: url(../images/bcour.svg);
        background-position: center 144px;
        background-size: 505px 100px;
    }

    .quality__text {
        font-size: 15px;
    }

    .quality__small-box {
        padding-top: 55px;
        padding-bottom: 70px;
    }

    .quality__box {
        background-color: #293039;
    }

    .collection__small {
        width: 282px;
    }

    .collection__item {
        width: 100%;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-column-gap: 36px;
           -moz-column-gap: 36px;
                column-gap: 36px;
    }

    .collection__title {
        margin-top: 0;
        margin-bottom: 24px;
        text-align: left;
        font-size: 24px;
    }

    .collection__text {
        text-align: left;
        font-size: 15px;
    }
}

@media only screen and (min-width: 700px) {
    .logo__img {
        width: 235px;
        height: 25px;
    }

    .great__box {
        padding-top: 98px;
        padding-bottom: 98px;
        padding-left: 50px;
    }

    .collection__list {
        background-size: 623px 115px;
    }

    .quality__item {
        width: 573px;
        padding-top: 41px;
        padding-bottom: 41px;
        padding-left: 180px;
    }

    .quality__item--one {
        left: calc(50% - 286.5px);
    }

    .quality__item--two {
        top: 204px;
        left: calc(50% - 286.5px);
    }

    .quality__item--there {
        top: 408px;
        left: calc(50% - 286.5px);
    }

    .quality__item::before {
        top: 62px;
        left: 70px;
    }

    .quality__inner {
        width: 344px;
    }
}

@media only screen and (min-width: 900px) {
    .great__box {
        background-image: url(../images/Bitmapbig.png);
    }

    .collection__small {
        width: 380px;
    }

    .collection__item {
        -ms-flex-pack: distribute;
            justify-content: space-around;
    }

    .collection__title {
        font-size: 32px;
    }

    .collection__text {
        font-size: 20px;
    }

    .quality__title {
        font-size: 36px;
    }

    .quality__text {
        font-size: 20px;
    }
}

@media only screen and (min-width: 1100px) {
    .great__box {
        padding-top: 116px;
        padding-left: 86px;
        padding-bottom: 116px;
    }

    .great__small {
        width: 493px;
    }

    .great__text-box {
        width: 440px;
    }

    .great__title {
        font-size: 72px;
        line-height: 72px;
        margin-bottom: 32px;
    }

    .great__text {
        font-size: 16px;
        margin-bottom: 56px;
    }

    .collection__list {
        padding-top: 262px;
        padding-bottom: 200px;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        background-size: 940px 170px;
    }

    .collection__item {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        margin-bottom: 0;
    }

    .collection__item:not(:last-child) {
        margin-bottom: 0;
    }

    .collection__small {
        width: 240px;
    }

    .collection__title {
        margin-top: 72px;
        font-size: 24px;
        text-align: center;
    }

    .collection__text {
        font-size: 16px;
        text-align: center;
    }

    .quality__title {
        font-size: 40px;
    }

    .quality__text {
        font-size: 16px;
    }

    .quality__item-title {
        font-size: 22px;
        text-align: center;
    }

    .quality__desc {
        font-size: 15px;
        text-align: center;
    }

    .quality__inner {
        width: 220px;
    }

    .quality__small-box {
        padding-top: 100px;
        padding-bottom: 50px;
    }

    .quality__list-wrapper {
        margin-bottom: 150px;
        padding-bottom: 230px;
    }

    .quality__item--one {
        top: 120px;
        left: calc(50% - 500px);
    }

    .quality__item--two {
        top: 120px;
        left: calc(50% - 150px);
    }

    .quality__item--there {
        top: 120px;
        left: calc(50% + 200px);
    }

    .quality__list-wrapper {
        /* margin: 0; */
        padding-left: 0;
        padding-bottom: 0;
        padding-right: 0;
    }

    .quality__item::before {
        top: 72px;
        left: 120px;
    }

    .quality__item {
        width: 300px;
        padding: 200px 42px 48px 42px;
    }

    .quality__box {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

    .quality__small-box {
        width: 540px;
        padding-bottom: 0;
    }

    .quality__list-wrapper {
        padding-top: 0;
    }
}

@media only screen and (min-width: 1100px) {
    .quality__item {
        width: 350px;
    }

    .quality__item-title {
        font-size: 24px;
        text-align: center;
    }

    .quality__desc {
        font-size: 16px;
        text-align: center;
    }

    .quality__inner {
        width: 255px;
    }

    .quality__item::before {
        left: 140px;
    }

    .quality__small-box {
        width: 575px;
    }

    .quality__item--one {
        top: 120px;
        left: calc(50% - 550px);
    }

    .quality__item--two {
        top: 120px;
        left: calc(50% - 175px);
    }

    .quality__item--there {
        top: 120px;
        left: calc(50% + 200px);
    }
}